@media screen and (max-width: 480px){ 

  /* ---------------------------------------------
  
  共通
  
  ------------------------------------------------ */
  h2{
    font-size: 40px;
  }


  /* ---------------------------------------------
  
  ヘッダー
  
  ------------------------------------------------ */
  header{
    height: 240px;
    text-align: center;
  }
  
  
  /* ---------------------------------------------
  
  グローバルメニュー
  
  ------------------------------------------------ */
  .menu-list{
    margin: 0 8px;
    font-size: 16px;
  }
  
  
  /* ---------------------------------------------
  
  プロフィール
  
  ------------------------------------------------ */
  .profile-content{
    flex-direction: column; /* 縦並び */
  }
  .profile-image{
    margin: 0 auto;
  }
  .profile-text{
    margin: 10%;
  }
  
  
  /* ---------------------------------------------
  
  スキル
  
  ------------------------------------------------ */
  .skill-content{
    flex-direction: column; /* 縦並び */
  }
  .skill-card{
    width: 100%;
    margin-bottom: 24px;
  }

  
  /* ---------------------------------------------
  
  ワークス
  
  ------------------------------------------------ */
  .works-content{
    flex-direction: column; /* 縦並び */
  }
  .works-card{
    width: 100%;
    margin-bottom: 24px;
  }
  
  
  /* ---------------------------------------------
  
  コンタクト
  
  ------------------------------------------------ */


  /* ---------------------------------------------
  
  フッター
  
  ------------------------------------------------ */
  .footer-list{
    margin: 0 16px;
    font-size: 12px;
  }

}