html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* ---------------------------------------------

共通

------------------------------------------------ */
h1{  
  font-size: 80px;
}

h2{
  font-size: 80px;
}

ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

p{
  margin-top: 0;
  margin-bottom: 48px;
}


/* ---------------------------------------------

  ヘッダー

------------------------------------------------ */
header{
  background-image: url(img/blue-mountian.jpeg);
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------------------------------

  メニュー

------------------------------------------------ */
#global-nav {
  background: #fff;
  width: 100%;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

menu{
  padding-top: 0;
}

.menu-list{
  margin: 0 24px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu-list:hover {
  color: skyblue;
}


/* ---------------------------------------------

  プロフィール

------------------------------------------------ */
.box{
  padding-top: 36px;
}

.menu-header{
  text-align: center;
}

.profile-content{
  display: flex;
}

.profile-image{
  margin-left: 20%;
}

#face-img{
  border-radius: 90px;
}

.profile-text{
  margin-left: 10%;
}


/* ---------------------------------------------

  スキル

------------------------------------------------ */
.skill-content{
  display: flex;
  justify-content: space-around;
}
.skill-card{
  background-color: aliceblue;
  padding: 24px;
  width: 27%;
}
.skill-title{
  font-size: 30px;
  text-align: center;
}
.skill-language-content{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.skill-list{
  margin: 24px;
  font-size: 24px;
}
.skill-title_w{
  font-weight: bolder;
}

/* --------- スキルレート --------- */
.rate {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
}
.rate:before, .rate:after {
  text-align: center;
  position: absolute;
  content: '★★★';
  display: block;
  line-height: 36px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}
.rate0:after {
  width: 0;
}
.rate0-5:after {
  width: 12px;
}
.rate1:after {
  width: 24px;
}
.rate1-5:after {
  width: 36px;
}
.rate2:after {
  width: 48px;
}
.rate2-5:after {
  width: 60px;
}
.rate3:after {
  width: 72px;
}


/* ---------------------------------------------

  ワークス

------------------------------------------------ */
.works-content{
  display: flex;
  justify-content: space-around;
}
.works-card{
  width: 20%;
  text-align: center;
  background-color: aliceblue;
  padding: 18px;
}
.works-title{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;
}
.works-description{
  font-size: 14px;
}
.language{
  font-size: 14px;
}
.url{
  text-decoration: none;
  font-size: 12px;
}


/* ---------------------------------------------

  コンタクト

------------------------------------------------ */
#contact-box{
  text-align: center;
}
.contact-header-title{
  margin-bottom: 48px;
}
.contact-sns{
  text-align: center;
  margin-bottom: 40px;
}
.sns{
  text-decoration: none;
}
.fab{
  font-size: 32px;
  margin: 24px 24px 24px 0;
}
.fa-twitter{
  color: skyblue;
}
.fa-github{
  color: black;
}
#qiita{
  font-size: 32px;
  color: lawngreen;
  text-decoration: none;
}


/* ---------------------------------------------

  フッター

------------------------------------------------ */
footer{
  background-color: gray;
  padding:8px 0 64px;
}
.footer-list{
  margin: 0 32px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
/* .menu-list{
  margin: 0 24px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
} */