html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

header{
  background-image: url(img/blue-mountian.jpeg);
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#global-nav {
  background: #fff;
  /* border-bottom: 1px solid #16244e;
  border-top: 1px solid #16244e; */
  width: 100%;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

menu{
  padding-top: 0;
}

h1{  
  font-size: 80px;
}

ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu-list{
  margin: 0 24px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu-list:hover {
  color: skyblue;
}


.menu-header{
  text-align: center;
}

h2{
  font-size: 80px;
}
.profile-content{
  display: flex;
}

.profile-image{
  margin-left: 20%;
}

#face-img{
  border-radius: 90px;
}

.profile-text{
  margin-left: 10%;
}

.skill-content{
  display: flex;
  justify-content: space-around;
}

.skill-card{
  background-color: aliceblue;
  padding: 24px;
  width: 20%;
}

.skill-title{
  font-size: 30px;
  text-align: center;
}

.skill-language-content{
  text-align: center;
}

.skill-list{
  margin: 32px;
  font-size: 24px;
}

.works-content{
  display: flex;
  justify-content: space-around;
}

.works-card{
  width: 20%;
  text-align: center;
  background-color: aliceblue;
  padding: 18px;
}

.works-title{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.works-description{
  font-size: 14px;
}

.language{
  font-size: 14px;
}

.url{
  text-decoration: none;
}

#contact-box{
  text-align: center;
}

.twitter{
  text-align: center;
  margin-bottom: 40px;
}

.fa-twitter{
  font-size: 32px;
  color: skyblue;
}

footer{
  background-color: gray;
}

.footer-menu{
  margin: 0;
}

.footer-list{
  font-size: 16px;
  margin: 32px;
  padding-bottom: 64px;
}